/CloudTechIot3/.vs
/CloudTechIot3/DTAR_08E86330_4835_4B5C_9E5A_61F37AE1A077_DTAR
/CloudTechIot3/obj
/CloudTechIot3/CloudTechIot3/bin
/CloudTechIot3/CloudTechIot3/obj
/CloudTechIot2/DTAR_08E86330_4835_4B5C_9E5A_61F37AE1A077_DTAR
/CloudTechIot2/obj
/CloudTechIot2/.vs
/CloudTechIot2/CloudTechIot2/bin
/CloudTechIot2/CloudTechIot2/obj
/CloudTechIot1dot5/.vs
/CloudTechIot1dot5/CloudTechIot1dot5/AppPackages
/CloudTechIot1dot5/CloudTechIot1dot5/bin
/CloudTechIot1dot5/CloudTechIot1dot5/obj
